In [11]:
import numpy as np
import pandas as pd

from tensorflow.keras.applications.inception_v3 import InceptionV3
from tensorflow.keras.preprocessing import image
from keras.applications.inception_v3 import preprocess_input
from tensorflow.keras.layers import Input
from tensorflow.keras.optimizers import Adagrad

In [12]:
def processing(im):
    img = image.load_img(im, target_size=(224, 224))
    img = image.img_to_array(img)
    img = np.expand_dims(img, axis=0)
    img = preprocess_input(img)
    
    return img

In [13]:
df = pd.read_csv('./dataset/geotags_185K_label.csv')
input_files = [f"./dataset/images/{imageId}.jpg" for imageId in df['# ID'].values.tolist()]
df

                         # ID  Label
0       2824840348_3c684b1d2c      8
1       2823831289_4cc28d4e29    201
2       2817908296_868fb3c095     18
3       2700164839_e8f8d500e3     87
4       3844995191_582b542412    323
...                       ...    ...
178628  2929233968_050577f8b9    102
178629  2928214771_ca8d90a5a5    102
178630  2869642665_da54293c13    201
178631  2867838318_144d299d0b    201
178632  2862946592_16e7c593d9     69

[178633 rows x 2 columns]

In [ ]:
images = np.concatenate([processing(im) for im in input_files])
images.shape

In [24]:
input_tensor = Input(shape=(224, 224, 3))

model = InceptionV3(
    include_top=True,
    weights=None,
    input_tensor=input_tensor,
    classes=1000,
    classifier_activation="softmax",
)

model.compile(optimizer=Adagrad(learning_rate=0.045), loss='categorical_crossentropy')